---
const pageTitle = "Acerca de mi";

const identity = {
  firstName: "Freilyns",
  country: "Rep. Dom",
  occupation: "Estudiante de la vida",
  hobbies: ["programar", "leer", "jugar"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Figma", "Adobe Ilustrator"];

// Estado

const happy = true;
const finished = true;
const goal = 2;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

const greenColor = "green";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 3.5rem;
      }

      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about">{pageTitle}</a>
    <a href="/blog">Mi blog</a>

    <h1>{pageTitle}</h1>
    <h2>... y mi nuevo sitio de Astro!</h2>
    <p>Estoy emocionadisimo de estar trabajando con Astro</p>
    <p>Voy a sacarle el maximo provecho a este tutorial</p>

    <p>Algunos datos sobre mi:</p>
    <ul>
      <li>Mi nombre es {identity.firstName}</li>
      <li>Soy de {identity.country} y mi ocupacion es ser {identity.occupation}</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}
          </li>
        )
      }
    </ul>

    <p>Estas son mis habilidades</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>¡Estoy feliz de aprender Astro!</p>}

    {finished && <p>¡He terminado este tutorial!</p>}

    {goal >= 3 ? <p>No es facil terminar en 3 dias</p> : <p>Terminare en menos de 3 dias</p>}
  </body>
</html>
